.tarjeta
	width 350px
	margin 5px
	
	&-header
		background rgba(152,70,21, .8)
		border-top-left-radius 5px
		border-top-right-radius 5px
		padding 1rem 1rem .5rem
		box-shadow inset 0px -2px 0px -1px rgba(black, .5)
		
	&-corrida
		background rgba(white, 1)
		border-bottom-left-radius 5px
		border-bottom-right-radius 5px
		// max-height 760px
		padding .5rem 1rem
		
.header
	&--servicio
		color gris_A
		font-size 1.25rem
	&--precio
		color white
		font-size 2rem
		text-align right
		
.corrida
	&-title
		color gris_B
		margin-top .5rem
	&-container
		flex-direction row
		flex-wrap wrap
		justify-content space-between
	&-horario
		color black
		font-size 3rem
		margin .2rem 0 .7rem