div(class="tarjeta")
	header(class="tarjeta-header")
		span(class="header--servicio u-block") Plus
		span(class="header--precio u-block") $1,055.00 mxn

	section(class="tarjeta-corrida")

		header(class="corrida-title u-block") De paso
		section(class="corrida-container u-flex")
			div(class="corrida-horario") 00:10
			div(class="corrida-horario") 00:35
			div(class="corrida-horario") 01:40
			div(class="corrida-horario") 02:10
			div(class="corrida-horario") 03:35
			div(class="corrida-horario") 03:40
			div(class="corrida-horario") 04:00
			div(class="corrida-horario") 04:40
			div(class="corrida-horario") 05:30
			div(class="corrida-horario") 06:00
			div(class="corrida-horario") 03:40
			div(class="corrida-horario") 04:00
			div(class="corrida-horario") 04:40
			div(class="corrida-horario") 05:30
			div(class="corrida-horario") 06:00
			div(class="corrida-horario") 03:40
			div(class="corrida-horario") 04:00
			div(class="corrida-horario") 04:40
			div(class="corrida-horario") 05:30
			div(class="corrida-horario") 06:00