div(class="tarjeta")
	header(class="tarjeta-header")
		span(class="header--servicio u-block") Platinum
		span(class="header--precio u-block") $105.00 mxn

	section(class="tarjeta-corrida")

		header(class="corrida-title u-block") LOCAL
		section(class="corrida-container u-flex")
			div(class="corrida-horario") 16:10

		header(class="corrida-title u-block") DE PASO
		section(class="corrida-container u-flex")
			div(class="corrida-horario") 06:15
			div(class="corrida-horario") 17:00