div(class="tarjeta")
	header(class="tarjeta-header")
		span(class="header--servicio u-block") Plus
		span(class="header--precio u-block") $55.00 mxn

	section(class="tarjeta-corrida")

		header(class="corrida-title u-block") DE PASO
		section(class="corrida-container u-flex")
			div(class="corrida-horario") 06:30
			div(class="corrida-horario") 07:40
			div(class="corrida-horario") 08:40
			div(class="corrida-horario") 09:00
			div(class="corrida-horario") 09:50
			div(class="corrida-horario") 10:30
			div(class="corrida-horario") 11:20
			div(class="corrida-horario") 11:50
			div(class="corrida-horario") 12:00
			div(class="corrida-horario") 12:50
			div(class="corrida-horario") 13:00
			div(class="corrida-horario") 13:30
			div(class="corrida-horario") 13:50
			div(class="corrida-horario") 14:30