div(class="tarjeta")
	header(class="tarjeta-header")
		span(class="header--servicio u-block") High Class
		span(class="header--precio u-block") $55.00 mxn

	section(class="tarjeta-corrida")

		header(class="corrida-title u-block") LOCAL
		section(class="corrida-container u-flex")
			div(class="corrida-horario") 17:10