div(class="tarjeta")
	header(class="tarjeta-header")
		span(class="header--servicio u-block") Plus
		span(class="header--precio u-block") $55.00 mxn

	section(class="tarjeta-corrida")

		header(class="corrida-title u-block") DE PASO
		section(class="corrida-container u-flex")
			div(class="corrida-horario") 14:50
			div(class="corrida-horario") 15:30
			div(class="corrida-horario") 15:50
			div(class="corrida-horario") 15:55
			div(class="corrida-horario") 16:30
			div(class="corrida-horario") 16:50
			div(class="corrida-horario") 18:10
			div(class="corrida-horario") 18:20
			div(class="corrida-horario") 19:10
			div(class="corrida-horario") 19:30
			div(class="corrida-horario") 20:10
			div(class="corrida-horario") 20:45
			div(class="corrida-horario") 21:20
			div(class="corrida-horario") 22:40