doctype html
html
	head
		meta(charset='utf-8')/
		title="Corridas tufesa"
		link(rel="stylesheet", href="./css/style.css")
		link(rel="stylesheet", href="../bower_components/owl.carousel/dist/assets/owl.carousel.min.css")
		link(rel="stylesheet", href="../bower_components/owl.carousel/dist/assets/owl.theme.default.min.css")
	body
		section(class="owl-carousel contenedor")
			article(class="u-block" data-info="tarjeta")
				//- header
				header(class="encabezado u-block")
					include ./encabezado/template.jade
				//- body
				section(class="cuerpo")
					//- tarjeta
					include ./tarjeta/templateMP.jade
					include ./tarjeta/templateMP2.jade
					include ./tarjeta/templateMH.jade
					include ./tarjeta/templateMPL.jade

			article(class="u-block" data-info="tarjeta")
				header(class="encabezado u-block3")
					include ./encabezado/template.jade
				//- body
				section(class="cuerpo")
					//- tarjeta
					include ./tarjeta/templateMP3.jade
					include ./tarjeta/templateMH.jade
					include ./tarjeta/templateMPL.jade

			article(id="vid1" class="u-block" data-info="video")
				video(id="video1" width="640" height="360" muted) 
					source(src="./images/movie.ogg" type="video/ogg")

			article(class="u-block" data-info="tarjeta")
				//- header
				header(class="encabezado u-block")
					include ./encabezado/template.jade
				//- body
				section(class="cuerpo")
					//- tarjeta
					include ./tarjeta/templateMP.jade
					include ./tarjeta/templateMP2.jade
					include ./tarjeta/templateMH.jade
					include ./tarjeta/templateMPL.jade

			article(class="u-block" data-info="tarjeta")
				header(class="encabezado u-block3")
					include ./encabezado/template.jade
				//- body
				section(class="cuerpo")
					//- tarjeta
					include ./tarjeta/templateMP3.jade
					include ./tarjeta/templateMH.jade
					include ./tarjeta/templateMPL.jade


			article(id="vid2" class="u-block" data-info="video")
				video(id="video2" width="640" height="360" muted)
					source(src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4")
					source(src="http://www.quirksmode.org/html5/videos/big_buck_bunny.webm" type="video/webm")

		script(type="text/javascript" src="./js/app.js")