article(class="encabezado-title u-inlineBlock") NAVOJOA

article(class="encabezado-clima u-inlineBlock")

	figure(class="clima-image u-inlineBlock")
		img(src="./images/cloud.png")

	div(class="clima-content u-inlineBlock")
		span(class="clima--temp u-block") 20 &deg;
		span(class="clima--temp u-block") 3 &deg;